.row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(248, 249, 248);
    background-color: rgb(4, 4, 187);
    text-align: center;
    font-size: 70px;
    height: 15vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(76, 212, 76);
    height: 10vh;
    font-size: 30px;
}
 .mainBody {
    background-color: rgb(190, 190, 190);
    height: 60vh;
    font-style: oblique;
    font-weight: bold;
    font-size: 25px;
 }
 .footer{
    background-color: black;
    color: white;
    height: 24vh;
    font-size: 14px;
 }
 .footerDiv {
    display: flex;
    flex-direction: row;
 }